%h3.page-header
  = t('.semesters')
  %small= @field_of_study.title

- if @semesters.any?
  .row
    .col-md-12
      %table.table
        %thead
          %tr
            %th= t('.semester')
            %th= t('.associated_subjects')
            %th= t('.registrated_users')
            - if policy(:semester).show?
              %th
            - if policy(:semester).edit?
              %th
            - if policy(:semester).destroy?
              %th

        %tbody
          - @semesters.each do |semester|
            %tr
              %td
                %strong= semester
              %th= semester.subjects.count
              %td= semester.users.count
              - if policy(:semester).show?
                %td= link_to t('.details'), field_of_study_semester_path(@field_of_study, semester)
              - if policy(:semester).edit?
                %td= link_to t('.edit'), edit_field_of_study_semester_path(@field_of_study, semester)
              - if policy(:semester).destroy?
                %td
                  = link_to field_of_study_semester_path(@field_of_study, semester), method: :delete, :data => { :confirm => "Are you sure?" } do
                    %span.glyphicon.glyphicon-trash{'aria-hidden'=>"true"}
- else
  %p= t('.no_semesters_message')
.row
  .col-md-12
    - if policy(:semester).new?
      = link_to t('.new_semester'), new_field_of_study_semester_path(@field_of_study), class: 'btn btn-primary last-element'
