%h3.page-header
  = t('.semesters')
  %small= @field_of_study.title

- if @semesters.any?
  .row
    .col-md-12
      %table.table
        %thead
          %tr
            %th= t('.semester')
            %th= t('.description')
            %th
            - if policy(:semester).edit?
              %th
            %th
            - if policy(:semester).destroy?
              %th

        %tbody
          - semesters.each do |semester|
            %tr
              %td
                %strong= semester.title
              %td.description= semester.description
              %td= link_to t('.show'), semester
              - if policy(:semester).edit?
                %td= link_to t('.edit'), edit_semester_path(semester)
              %td= link_to t('.groups'), semester_course_groups_path(semester.id)
              - if policy(:semester).destroy?
                %td
                  = link_to semester_path(semester), method: :delete, :data => { :confirm => "Are you sure?" } do
                    %span.glyphicon.glyphicon-trash{'aria-hidden'=>"true"}
- else
  %p= t('.no_subjects_message')
