= simple_form_for(@course_group, url: subject_course_group_path(subject_id: @course_group.subject_id)) do |f|
  = f.error_notification

  .form-inputs
    .row
      .col-md-2
        = f.input :start_time, label: t('.start_time')
      .col-md-2
        = f.input :end_time, label: t('.end_time')
      .col-md-2
        = f.input :weekday, label: t('.weekday'), collection: t(:"date.day_names")
      .col-md-6
        = f.input :max_limit, label: t('.max_limit')
    .row
      .col-md-6
        = f.association :subject, label: t('.subject')
      .col-md-6
        = f.association :lecturer, label: t('.lecturer')
  .row
    .col-md-12
      .pull-right.last-element
        = link_to t('.cancel'), subject_course_groups_path, class: 'btn btn-default'
        = f.submit t('.save'), class: 'btn btn-info'