.row
  .col-md-12
    %h3.page-header= "#{@course.title} - #{t('.course_groups')}"

.row
  - num = 1
  - @course_groups.each do |group|
    .col-md-4.col-sm-6
      .panel.panel-success
        .panel-heading.pd-15.pd-r-10
          %h6.white.mg-0
            = "#{num}. #{group.start_time.strftime('%H:%M')} - #{group.end_time.strftime('%H:%M')}"
            .pull-right
              = link_to subject_course_group_path(subject_id: group.subject.id, id: group.id), method: :delete, :data => { :confirm => "Are you sure?" }, class: 'mg-r-5' do
                %span.glyphicon.glyphicon-trash.white{'aria-hidden'=>"true"}
              = link_to edit_subject_course_group_path(subject_id: group.subject.id, id: group.id) do
                %span.glyphicon.glyphicon-edit.white{'aria-hidden'=>"true"}
        .panel-body
          %p
            %strong= t('.lecturer') + ':'
            %span= group.lecturer.name
          %p
            %strong= t('.max_limit') + ':'
            %span= group.max_limit
    - num+= 1

  - if @course_groups.empty?
    %p= t('.no_groups_message')
.row
  .col-md-12
    = link_to t('.new_course_group'), new_subject_course_group_path(subject_id: @course.id), class: 'btn btn-primary last-element'
