.row
  .col-md-12
    %h3.page-header= "#{@subject.title} - #{t('.course_groups')}"

.row
  - num = 1
  - @course_groups.each do |group|
    .col-md-4.col-sm-6
      .panel.modal_button_parent{class: "#{group_class(group.group_type)}"}
        .panel-heading.pd-15.pd-r-10
          %h6.white.mg-0
            = "#{num}.#{(t('date.day_names')[group.weekday]).mb_chars.upcase}, #{group.start_time.strftime('%H:%M')} - #{group.end_time.strftime('%H:%M')}"
            .pull-right
              = link_to subject_course_group_path(subject_id: group.subject.id, id: group.id), class: 'mg-r-5' do
                %span.glyphicon.glyphicon-list.white{'aria-hidden'=>"true"}
              - if policy(:course_group).edit?
                = link_to edit_subject_course_group_path(subject_id: group.subject.id, id: group.id), class: 'mg-r-5' do
                  %span.glyphicon.glyphicon-edit.white{'aria-hidden'=>"true"}
              - if policy(:course_group).destroy?
                = link_to subject_course_group_path(subject_id: group.subject.id, id: group.id), method: :delete, :data => { :confirm => "Are you sure?" } do
                  %span.glyphicon.glyphicon-trash.white{'aria-hidden'=>"true"}
        .panel-body
          %p
            %strong= t('.group_type') + ':'
            %span= t("course_groups.group_types.#{group.group_type}")
          %p
            %strong= t('.lecturer') + ':'
            %span= group.lecturer.name
          %p
            %strong= t('.max_limit') + ':'
            %span= group.max_limit
          -if policy(:course_group).registrate?
            %button#show_modal.btn.btn-default{data: {modal: 'select_users', url: select_users_modal_path(course_group_id: group.id) } }
              = t('.registrate_users')
    - num+= 1

  - if @course_groups.empty?
    %p= t('.no_groups_message')
.row
  .col-md-12
    - if policy(:course_group).new?
      = link_to t('.new_course_group'), new_subject_course_group_path(subject_id: @subject.id), class: 'btn btn-primary last-element'

#modal_placeholder