
.row
  .col-md-8.col-md-offset-2
    .panel{class: "#{group_class(@course_group.group_type)}"}
      .panel-heading
        %h4.white= @subject.title
      .panel-body
        .col-md-6
          %p
            %strong= t(".time") + ':'
            %span= time_periods[@course_group.time_period_num]
          %p
            %strong= t('.registrated') + ':'
            %span= "#{@course_group.enrolled_students.count} / #{@course_group.max_limit}"
          %p
            %strong= t('.lecturer') + ':'
            %span= @course_group.lecturer.name
        .col-md-6.modal_button_parent
          %table.table
            %thead
              %tr
                %th= t('.students')
                - if policy(:course_group).show_grades?
                  %th= t('.grades')
            %tbody
              - @students.each do |student|
                - grade_val = student.grades.where(course_group: @course_group).first.try(:value)
                %tr
                  %td= student.name
                  - if policy(:course_group).show_grades?
                    %td{class: "#{danger_class(grade_val)}" }= grade_val
          - if policy(:course_group).update_grades?
            %button#show_modal.btn.btn-default{data: {modal: 'update_grades', url: update_grades_modal_path(course_group_id: @course_group.id) } }
              = t('.update_grades')
.row
  .col-md-8.col-md-offset-2
    = link_to t('.back'), subject_course_groups_path, class: 'btn btn-default last-element'
#modal_placeholder