
.row
  .col-md-8.col-md-offset-2
    .panel{class: "#{group_class(@course_group.group_type)}"}
      .panel-heading
        %h4.white= @subject.title
      .panel-body
        .col-md-6
          %p
            %strong= t(".time") + ':'
            %span= "#{@course_group.start_time.strftime('%H:%M')} - #{@course_group.end_time.strftime('%H:%M')}"
          %p
            %strong= t('.registrated') + ':'
            %span= "#{@course_group.enrolled_students.count} / #{@course_group.max_limit}"
          %p
            %strong= t('.lecturer') + ':'
            %span= @course_group.lecturer.name
        .col-md-6.modal_button_parent
          %table.table
            %thead
              %tr
                %th= t('.students')
                %th= t('.grades')
            %tbody
            - @students.each do |student|
              %tr
                %td= student.name
                %td= student.grades.where(course_group: @course_group).first.try(:value)
          = registration_button(@course_group)
          %button#show_modal.btn.btn-default{data: {modal: 'update_grades', url: update_grades_modal_path(course_group_id: @course_group.id) } }
            = "wpisz oceny"
.row
  .col-md-8.col-md-offset-2
    = link_to t('.back'), subject_course_groups_path, class: 'btn btn-default last-element'
#modal_placeholder