= form_for(@user, :url => update_password_user_path(@user), :html => { :method => :patch, role: "form", class: "form-horizontal" }) do |f|
  = f.hidden_field :reset_password_token
  .form-group
    = f.label :password, t('.new_password'), class: "control-label col-md-2"
    .col-md-10
      = f.password_field :password, autofocus: true, class: "form-control"
  .form-group
    = f.label :password_confirmation, t('.confirm_new_password'), class: "control-label col-md-2"
    .col-md-10
      = f.password_field :password_confirmation, class: "form-control"
  .form-group
    .col-md-12
      = f.submit t('.save'), :class => "btn btn-primary pull-right"