= form_for @user, :html => { :class => "form-horizontal user" } do |f|
  - if @user.errors.any?
    #error_expl.panel.panel-danger
      .panel-heading
        %h3.panel-title
          = pluralize(@user.errors.count, "error")
          prohibited this user from being saved:
      .panel-body
        %ul
          - @user.errors.full_messages.each do |msg|
            %li= msg
  .form-group
    = f.label :email, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :email, :class => 'form-control'
    = f.error_span(:email)
  .form-group
    = f.label :encrypted_password, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :encrypted_password, :class => 'form-control'
    = f.error_span(:encrypted_password)
  .form-group
    = f.label :first_name, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :first_name, :class => 'form-control'
    = f.error_span(:first_name)
  .form-group
    = f.label :last_name, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :last_name, :class => 'form-control'
    = f.error_span(:last_name)
  .form-group
    = f.label :birth_date, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :birth_date, :class => 'form-control'
    = f.error_span(:birth_date)
  .form-group
    = f.label :reset_password_token, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :reset_password_token, :class => 'form-control'
    = f.error_span(:reset_password_token)
  .form-group
    = f.label :reset_password_sent_at, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :reset_password_sent_at, :class => 'form-control'
    = f.error_span(:reset_password_sent_at)
  .form-group
    = f.label :remember_created_at, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :remember_created_at, :class => 'form-control'
    = f.error_span(:remember_created_at)
  .form-group
    = f.label :current_sign_in_at, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :current_sign_in_at, :class => 'form-control'
    = f.error_span(:current_sign_in_at)
  .form-group
    = f.label :last_sign_in_at, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :last_sign_in_at, :class => 'form-control'
    = f.error_span(:last_sign_in_at)
  .form-group
    = f.label :current_sign_in_ip, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :current_sign_in_ip, :class => 'form-control'
    = f.error_span(:current_sign_in_ip)
  .form-group
    = f.label :last_sign_in_ip, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :last_sign_in_ip, :class => 'form-control'
    = f.error_span(:last_sign_in_ip)
  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit nil, :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), |
        users_path, :class => 'btn btn-default'                      |
