= simple_form_for @user.becomes(User) do |f|
  - f.object = @user.becomes(@user.class)
  .row
    .col-md-6
      = f.input :first_name, label: t('.first_name')
    .col-md-6
      = f.input :last_name, label: t('.last_name')
  - if current_user.admin? && !@user.persisted?
    .row
      .col-md-6
        = f.input :role, label: t('.role'), include_blank: false, collection: role_types_select
      .col-md-6
        = f.input :index_num, label: t('index_num')
    .row
      .col-md-6
        = f.input :password
      .col-md-6
        = f.input :password_confirmation
  .row
    .col-md-12
      = f.input :email, label: t('.email')
  .row
    .col-md-6
      = f.input :street, label: t('.street')
    .col-md-6
      = f.input :postal_code, label: t('.postal_code')
  .row
    .col-md-6
      = f.input :city, label: t('.city')
    .col-md-6
      = f.input :country, label: t('.country'), include_blank: true, priority_countries: ["PL", "GB", "DE"]
  .row
    .col-md-12
      = f.input :bank_account, label: t('.bank_account')
  .row
    .col-md-12
      .pull-right
        = f.submit t('.save'), class: "btn btn-primary last-element"