%h3.page-header= t(".users")

- if @users.any?
  %table.table
    %thead
      %tr
        %th= t('.name')
        %th= t('.field_of_study')
        %th= t('.email')
        %th= t('.role')
        %th
        %th
        %th

    %tbody
      - @users.order(:role).each do |user|
        %tr
          %td
            %strong= user.name
          %td= user.field_of_studies
          %td= user.email
          %td= t("users.roles.#{user.role}").downcase
          %td= link_to t('.show'), user_path(user)
          %td= link_to t('.edit'), edit_user_path(user)
          -  if policy(:user).destroy?
            %td
              = link_to user_path(id: user.id), method: :delete, :data => { :confirm => "Are you sure?" } do
                %span.glyphicon.glyphicon-trash{'aria-hidden'=>"true"}
- else
  %p= t(".no_records")

%br
- if policy(:user).new?
  = link_to t('.add_new'), new_user_path, class: 'btn btn-primary last-element'