.inline-header
  %h3= t('.my_study')
  %ul.nav.nav-tabs
    %li
      %a{'aria-expanded' => 'false', 'href' => '#', 'data-toggle' => 'tab'}= t('.grades')
    %li
      %a{'aria-expanded' => 'false', 'href' => 'subjects', 'data-toggle' => 'tab'}= t('.subjects')
    %li
      %a{'aria-expanded' => 'false', 'href' => 'anohter', 'data-toggle' => 'tab'}= t('.registrations')

- @semesters.order(:field_of_study_id).each do |semester|
  %h4
    %span= semester
    %span.glyphicon.glyphicon-menu-down.hoverable{data: {toggle: :collapse, target: "#semester_#{semester.id}"}}
  - if semester.subjects.any?
    .row.collapse.in.fold{id: "semester_#{semester.id}"}
      .col-md-12
        %table.table
          %thead
            %tr
              %th= t('.subject')
              %th= t('.group_type')
              %th= t('.grade')

          %tbody
            - @user.course_groups.from_semester(semester.id).each do |course_group|
              %tr
                %td
                  %strong= course_group.subject.title
                %td= course_group.group_type
                %td= @user.grades.where(course_group: course_group).first.try(:value)
  - else
    %p= t('.no_subjects_message')



/ .container.sidebar-container
/   .row
/     .col-md-3
/       .well.sidebar-nav
/         %h3 Moje studia
/         %ul.nav.nav-list
/           %li= link_to "Przedmioty", "#"
/           %li= link_to "Etapy", "#"
/           %li= link_to "Oceny", "#"
/           %li= link_to "Rejestracje", "#"
/     .col-md-9
/       = render 'dashboard/schedule'