.row
  .col-md-8.col-md-offset-2
    .page-header
      %h1= t '.title', default: "Ustawienia konta"
    %dl.dl-horizontal
      %dt
        %strong= "Email"
      %dd
        = @user.email
      %dt
        %strong= "Imię"
      %dd
        = @user.first_name
      %dt
        %strong= "Nazwisko"
      %dd
        = @user.last_name
    = link_to "Edytuj ustawienia", edit_user_path(@user), class: "btn btn-primary"
