.row
  .col-md-8.col-md-offset-2
    .page-header
      %h1= t '.title'
    %dl.dl-horizontal
      %dt
        %strong= t '.name'
      %dd
        = @user.first_name
        = @user.last_name
      %dt
        %strong= t '.email'
      %dd
        = @user.email
    = link_to t('.edit'), edit_user_path(@user), class: "btn btn-primary"
