%h3= t('.registrations')

- if @registrations.any?
  %table.table
    %thead
      %tr
        %th= t('.start_date')
        %th= t('.end_date')
        %th= t('.field_of_study')
        %th= t('.actions')

    %tbody
      - @registrations.each do |registration|
        %tr
          %td= l registration.start_date, format: :short
          %td= l registration.end_date, format: :short
          %td= registration.field_of_study.title
          %td
            %span
              = link_to t('.show'), '#', class: 'mg-r-10'
              = link_to t('.edit'), edit_registration_path(registration), class: 'mg-r-10'
              = link_to '#' do
                %span.mg-r-10.glyphicon.glyphicon-user{'aria-hidden'=>"true"}
              = link_to registration_path(registration), method: :delete, :data => { :confirm => "Are you sure?" } do
                %span.mg-r-10.glyphicon.glyphicon-trash{'aria-hidden'=>"true"}
- else
  %p= t('.no_registrations')
.row
  .col-md-12
    = link_to t('.new_registration'), new_registration_path, class: 'btn btn-primary last-element'