%h3= t('.registrations')

- @semesters.order(:field_of_study_id).each do |semester|
  %h4
    %span= semester
    %span.glyphicon.glyphicon-menu-down.hoverable{data: {toggle: :collapse, target: "#semester_#{semester.id}"}}
  - if semester.registrations.any?
    .row.collapse.in.fold{id: "semester_#{semester.id}"}
      .col-md-12
        %table.table
          %thead
            %tr
              %th= t('.start_date')
              %th= t('.end_date')
              %th= t('.semester')
              %th= t('.actions')

          %tbody
            - semester.registrations.each do |registration|
              %tr
                %td= l registration.start_date, format: :short
                %td= l registration.end_date, format: :short
                %td= registration.semester
                %td
                  %span
                    = link_to t('.show'), '#', class: 'mg-r-10'
                    - if policy(:registration).edit?
                      = link_to t('.edit'), edit_registration_path(registration), class: 'mg-r-10'
                    = link_to '#' do
                      %span.mg-r-10.glyphicon.glyphicon-user{'aria-hidden'=>"true"}
                    - if policy(:registration).destroy?
                      = link_to registration_path(registration), method: :delete, :data => { :confirm => "Are you sure?" } do
                        %span.mg-r-10.glyphicon.glyphicon-trash{'aria-hidden'=>"true"}
  - else
    .row.collapse.in.fold{id: "semester_#{semester.id}"}
      .col-md-12
        %p= t('.no_registrations')
- if policy(:registration).new?
  .row
    .col-md-12
      = link_to t('.new_registration'), new_registration_path, class: 'btn btn-primary last-element'