.modal.fade{'id' => 'update_grades', 'tabindex' => '-1', 'role' => 'dialog', 'aria-labelledby' => 'update_grades_modal_label'}
  .modal-dialog{'role' => 'document'}
    .modal-content
      .modal-header
        %button.close{'type' => 'button', 'data-dismiss' => 'modal'}
          %span{'aria-hidden' => 'true'} ×
        %h4.modal-title#update_grades_modal_label.text-center= t('.title')
      = form_tag grades_path, method: "POST", class: 'grades-form' do |form|
        = hidden_field_tag :course_group_id, @course_group.id
        .modal-body
          .col-md-8.col-md-offset-2
            %table.table.table-bordered
              %thead
                %tr
                  %th= t('.name')
                  %th= t('.grade')
              %tbody
                - @students.each do |student|
                  = simple_fields_for 'grades[]', student.grades.where(course_group: @course_group).first do |grade_form|
                    %tr
                      %td= student.name
                      = grade_form.hidden_field :user_id, value: student.id
                      %td.grade-select= grade_form.input :value, label: false, include_blank: false, collection: Grade::GRADE_VALUES, html: { class: 'mg-0' }
        .modal-footer
          .col-md-8.col-md-offset-2.text-center
            %button.btn.btn-default{'type' => 'button', 'data-dismiss' => 'modal'}
              = t('.cancel')
            = submit_tag t('.save'), class: 'btn btn-primary'