%footer
  .footer
    .container
      %p
        = link_to t(".home"), "#", class: "btn btn-link"
        = "|"
        = link_to t(".contact"), "#", class: "btn btn-link"
        = "|"
        = link_to t(".help"), "#", class: "btn btn-link"
        = "|"
        = link_to t(".about"), "#", class: "btn btn-link"
        -# link_to other_language, change_language_path(other_language.to_sym)